layout {
    tab {
      pane size=1 borderless=true {
          plugin location="tab-bar"
      }
      pane command="docker-compose" {
        args "up" "-d"
      }
      pane
      pane command="pnpm" {
        args "nx" "serve" "api-nest"
      }
      pane command="pnpm" {
        args "nx" "serve" "web-vite"
      }
      pane size=2 borderless=true {
          plugin location="status-bar"
      }
    }
    tab {
      pane command="lg" 
    }
}
